PROJECT_NAME=ATS Smart
ENVIRONMENT=development

DATABASE_URL=postgresql+asyncpg://CHANGE_ME:CHANGE_ME@localhost:5432/smart_ats_db
REDIS_URL=redis://localhost:6379/0

SECRET_KEY=CHANGE_ME_GENERATE_A_RANDOM_SECRET
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
